.util {
      height: 100%;
      div {
          padding: 1.5rem;
          cursor: pointer;
      }
}
.content {
    margin-top: 8.5rem;
}
@media all and (min-width: 415px){
    .content {
        margin-top: 0;
    }
}