.loader-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    .loader {
      border: 5px solid #f3f3f3; /* Light grey */
      border-top: 5px solid #2fc0be ; /* Blue */
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      animation: spin 2s linear infinite;
    }
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}