.search-list {
  position: absolute;
  top: 90px;
  right: 0;
  transform: translateX(19rem);
  background: #fff;
  width: 19rem;
  height: calc(100vh - 90px);
  color: #aaa;
  z-index: 100;
  transition: all 0.5s ease-in-out;
  &.show {
    transform: translateX(0);
  }
  ul {
    padding: 1.5rem;
    li {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 28px;
      .check {
        color: #000;
      }
      span {
        font-size: 1.3rem;
      }
    }
  }
  ul + ul {
    border-top: 1px solid #eee;
  }
}
