@mixin center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 5rem;
  width: 100%;
  font-weight: 700;
  font-size: 1.4rem;
  // border-bottom: 1px solid #eee;
  background: #fff;
  a , div {
      @include center();
  }
  .back {
    padding: 0 1.5rem;
    height: 100%;
  }
  .title {
      position: absolute;
      top: 50%;
      left: 50%;    
      transform: translate(-50%, -50%);
  }
}
