@import "../../common.scss";

.Profile {
  width: 100%;
  height: 100vh;
  .Header {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 0 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .Prev {
      display: flex;
      align-items: center;

      height: 100%;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    .Title {
      font-weight: 600;
    }
    .Save {
      border: 0;
      font-weight: 600;
      font-size: 1.4rem;
      color: rgba(0, 0, 0, 0.8);
      background: 0;
    }
  }

  .Summary {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    border-bottom: 10px solid rgba(0, 0, 0, 0.1);
    .Avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 15px;
      img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-bottom: 5px;
        border: 1px solid rgba(0, 0, 0, 0.1);
      }
      .NickName {
        font-weight: 600;
        color: $main-color;
      }
    }
    input {
      width: auto;
      height: 30px;
      padding: 0 30px;
      text-align: center;
      font-size: 1.3rem;
      font-weight: 600;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  .Form {
    width: 100%;
    padding: 12px;
    border-bottom: 10px solid rgba(0, 0, 0, 0.1);
    .Elem {
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 10px;
      label {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 5px;
        .Caption {
          font-size: 1rem;
          font-weight: 400;
          margin-left: 10px;
          color: rgba(0, 0, 0, 0.5);
        }
      }
      .InputWrap {
        width: 78%;
        input {
          width: 100%;
          height: 30px;
          padding: 0 10px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          &:read-only {
            background: rgba(0, 0, 0, 0.1);
            border: 0;
          }
        }
        .PhoneWrap {
          display: flex;
          justify-content: space-between;
          .PhoneNumber {
            width: 32%;
            text-align: center;
          }
        }
      }
      button {
        width: 20%;
        height: 30px;
        color: #fff;
        background: $main-color;
        transition: background 0.3s ease-in;
        &:hover,
        &:active {
          background: $main-color-active;
        }
      }
    }
  }

  .Marketing {
    width: 100%;
    padding: 12px;
    border-bottom: 10px solid rgba(0, 0, 0, 0.1);
    h2 {
      font-size: 1.3rem;
      font-weight: 600;
    }
    p {
      color: rgba(0, 0, 0, 0.3);
    }
    .Email,
    .SMS {
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.3rem;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .Footer {
    width: 100%;
    padding: 12px;
    display: flex;
    justify-content: flex-end;
    span {
      font-size: 1.2rem;
      display: inline-block;
      color: rgba(0, 0, 0, 0.4);
      text-decoration: underline;
      padding: 0 10px;
      border-right: 1px solid rgba(0, 0, 0, 0.4);
      &:last-child {
        border: 0;
      }
    }
  }
}
.Switch {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 26px;
  border-radius: 13px;
  cursor: pointer;
  display: inline-block;
  &.on {
    background: $main-color;
    .SwitchToggle {
      left: 23px;
    }
  }

  .SwitchToggle {
    border: 1px solid rgba(0, 0, 0, 0.2);
    // box-shadow: 1px 1px 1px #ccc;
    width: 25px;
    height: 24px;
    left: 0;
    border-radius: 12px;
    background: #fff;
    position: relative;
    transition: left 0.2s ease-in-out;
  }
}
