.pay-result {
    background: #eee;
    .pay-content {
        margin-top: 5rem;
        .info {
            text-align: center;
            padding: 2rem 0 4rem;
            .text {
                font-size: 1.3rem;
            }
            .phone {
                color: #2fc0be;
                font-size: 2.5rem;
                font-weight: 700;
            }
        }
    }
}