.slide-menu {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 4rem;
    padding: 1px 0;
    ul {
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0 6px;
        -webkit-overflow-scrolling : touch;
        li {
            display: inline-block;
            margin-right: 9px;
            padding: 6px;
            cursor: pointer;
            font-size: 1.4rem;
            color: #aaa;
            &.active {
                color: #000;
                border-bottom: 2px solid black;
            }
        }
        &::-webkit-scrollbar {
            width: 0;
        }
    }
}