.custom-checkbox {
  width: 100%;
  height: 5.5rem;
  background: #fff;
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  .check {
    position: relative;
    background: #2fc0be;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    &.disabled {
      background: #eee;
    }
    .text {
      font-size: 1.5rem;
      position: absolute;
      top: 0;
      left: 2.5rem;
      color: #000;
      white-space: nowrap;
    }
  }
  .right {
    font-size: 1.3rem;
    color: #999;
  }
}
