@import "../../common.scss";

.SearchResult {
  .listItem {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    line-height: 2.5;
    padding: 10px;
    font-size: 1.6rem;
    color: black;
    height: 100px;
    width: 100%;
    // border-bottom: 1px solid rgb(228, 228, 228);
    div {
    }
    .Img {
      img {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 1px solid silver;
      }
    }
    .Text {
      position: absolute;
      left: 100px;
      width: calc(100% - 130px);
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;

      .StoreName {
        // background-color: yellow;
        margin-bottom: 5px;
        height: 25px;
        font-size: 1.6rem;
        font-weight: 400;
      }
      .StoreInfo {
        margin-bottom: 5px;
        display: flex;
        // background-color: gold;
        font-size: 1rem;
        color: silver;
        height: 15px;
        .Star {
        }
        span {
          margin-right: 3px;
          span {
          }
        }
        svg {
          margin-right: 5px;
        }
      }
      .menu {
        margin-bottom: 5px;
        height: 15px;
        font-size: 1rem;
        color: silver;
      }
    }
    .RightArrow {
      border: none;
      position: absolute;
      top: 35%;
      right: 0;
      width: 30px;
      // height: 80px;
      font-size: 15pt;
      background-color: white;
      svg {
        fill: rgb(216, 216, 216);
      }
    }
  }
}
