body {
  margin: 0px;
  padding: 0px;
  font-family: "Noto", sans-serif;
  text-align: center;
}
svg {
  display: block;
}

button {
  outline: none;
}

.map_wrap {
  position: fixed;
  top: 0;
  right: 0;
  /* width: 414px;
  height: 736px; */
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: white;
}

.map {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* transform: scale(2); */
}

.backBtn {
  position: absolute;
  top: 40px;
  left: 20px;
  transform: scale(3);
  z-index: 10;
  border: none;
  background: none;
}

.guideTxt {
  line-height: 2.5;
  position: absolute;
  border-radius: 50px 50px;
  top: 60px;
  left: 50px;
  width: calc(100% - 100px);
  height: 40px;
  color: rgba(0, 0, 0, 0.616);
  background-color: rgba(255, 255, 255, 0.452);
  font-size: 12pt;
  z-index: 10;
  box-shadow: -5px 5px 30px rgba(0, 0, 0, 0.212);
}

.hAddr {
  display: flex;
  flex-direction: column;
  line-height: 2;
  position: absolute;
  text-align: center;
  width: calc(100% - 40px);
  height: 80px;
  left: 20px;
  bottom: 80px;
  background: #fff;
  z-index: 1;
  padding: 5px;
  font-size: 15pt;
  border-radius: 2px;
  border: 1px solid grey;
}

.addressTypeBtn {
  border: none;
  font-size: 13pt;
  color: #2fc0be;
  background-color: white;
  /* font-weight: bold; */
  display: block;
}

// marker - type 1 (arrow)
// .marker {
//   position: absolute;
//   transform: scale(5);
//   bottom: 405px;
//   left: 50%;
//   color: rgba(250, 58, 58, 0.664);
//   z-index: 100;
// }

// marker - type 2 (crosshair)
.marker {
  position: absolute;
  bottom: 50%;
  left: 50%;
  color: rgb(240, 0, 0);
  z-index: 100;
  svg {
    transform: scale(1.5);
  }
}
.centered {
  display: none;
  transform: scale(5);
  color: rgba(250, 58, 58, 0.664);
  position: fixed;
  top: 50%;
  left: 50%;
  // margin-top: -50px;
  // margin-left: -100px;
  z-index: 100;
}

/* .bottomContainer {
  display: flex;
  padding: 20px;
} */

.currentLocationBtn {
  position: absolute;
  bottom: 180px;
  right: 20px;
  border: 1px solid grey;
  border-radius: 2px;
  background-color: white;
  width: 50px;
  height: 50px;
  // font-size: 50pt;
  z-index: 10;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  svg {
    margin: auto;
  }
}

.marker .p {
  font-size: 20pt;
}

.centerAddr {
  display: block;
  margin-top: 2px;
  font-weight: normal;
}

.settingBtn {
  border: none;
  border-radius: 3px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 40px);
  height: 50px;
  font-size: 17pt;
  font-weight: bold;
  color: white;
  background-color: #2fc0be;
  z-index: 10;
}

.bAddr {
  background-color: yellow;
  font-size: 20pt;
  padding: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
