@import "../../common.scss";

$main-color: white;
$main-border: 1px solid black;

button,
input {
  outline: none;
}

.container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: $main-color;
  color: black;
  transform: translateY(100%);
  transition: all 0.5s;
  z-index: 100;
  &.show {
    transform: translateY(0%);
  }
}

.formContainer {
  height: 230px;
  padding: 10px;
}

.closeButton {
  display: block;
  height: 30px;
  width: 30px;
  font-size: 15pt;
  border: none;
  background-color: white;
  svg {
    transform: scale(1.5);
  }
}

.header {
  display: block;
  margin: 10px 0px;
  font-size: 18pt;
}

.addressSearchForm {
  display: flex;
  justify-content: space-between;
}

.addressSearchInput {
  border-radius: 0;
  width: calc(100% - 40px);
  height: 40px;
  margin: 0px 10px 10px 0px;
  padding: 10px;
  background-color: white;
  border: 1px solid silver;
  box-sizing: border-box;
  font-size: 12pt;
  background-color: rgba(241, 241, 241, 0.87);
}

.addressSearchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid silver;
  color: black;
  height: 40px;
  width: 40px;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  svg {
    display: block;
    margin: auto;
    transform: scale(1.2);
  }
}

.addressSettingButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid silver;
  height: 40px;
  width: 100%;
  cursor: pointer;
  line-height: normal;
  p {
    color: black;
    font-size: 12pt;
  }
  svg {
    vertical-align: middle;
    transform: scale(0.8);
  }
}

.listContainer {
  background-color: rgba(241, 241, 241, 0.87);
  border-top: 1px solid silver;
  height: calc(100% - 230px);
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.listTitle {
  font-weight: bold;
  font-size: 12pt;
  margin-top: 10px;
  padding: 15px;
  background-color: white;
}

.listItem {
  position: relative;
  padding: 10px;
  padding-bottom: 20px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgba(241, 241, 241, 0.87);
}

.place {
  font-size: 12pt;
  width: 90%;
  height: 25px;
}

.address {
  font-size: 11pt;
  width: 90%;
  height: 20px;
  color: rgb(139, 139, 139);
}

.textContainer {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 3px;
}

.box {
  display: flex;
  flex-direction: row;
  color: rgb(160, 158, 158);
  font-size: 9pt;
  width: 40px;
  height: 16px;
  text-align: center;
  border: 0.5px solid rgb(145, 145, 145);
  margin-right: 5px;
  padding-left: 3px;
  line-height: 1.1;
}

.road {
  width: calc(100% - 80px);
  color: rgb(139, 139, 139);
  font-size: 11pt;
}

.deleteButton {
  border: none;
  position: absolute;
  top: 40%;
  right: 0;
  width: 30px;
  font-size: 15pt;
  background-color: white;
  svg {
    fill: rgb(207, 207, 207);
  }
}
