.Wrap {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 10;

  .Map {
    width: 100%;
    height: 100vh;
  }
  .MarkedAddress {
    width: 90%;
    padding: 15px;
    background: #fff;
    font-size: 1.5rem;
    position: fixed;
    bottom: 10%;
    left: 5%;
    z-index: 11;
    .HereIam {
      width: 100%;
      height: 45px;
      background: #2fc0be;
      border: 0;
      color: #fff;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
}
