$font-size : 1.4rem;
$second-font-size : 1.2rem;
$main-color : #2ac1bc;
$input-height : 45px;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.join {
    width: 100%;
    padding: 0 30px 30px 30px;
    .header {
        display: flex;
        justify-content: space-between; 
        font-size: $font-size;
        font-weight: 700;
        height: 50px;
        .complete {
            cursor: pointer;
            &.check {
                color: $main-color;
            }
        }
        span {
            @include center();
            &.close {
                a {
                    @include center();
                    svg {
                        transform: scale(1.5);
                    }
                }
            }
        }
    }
    .join-form {
        // border: 1px solid black;
        margin-top: 2rem;
        div {
            margin: 1.5rem 0;
            position: relative;
            label {
                font-size: $second-font-size;
                color : rgba(0, 0, 0, 0.1);
                font-weight: 700;
                &.show {
                    color: black;
                }
            }
            input {
                width: 100%;
                height: 40px;
                font-weight: 700;
                border: none;
                border-bottom: 1px solid rgba(0,0,0,0.3);
                &:focus {
                    outline: none;
                    border-bottom: 1px solid $main-color;
                }
                &::placeholder {
                    color : rgba(0, 0, 0, 0.1);
                }
            }
            p {
                visibility: hidden;
                color : red;
                &.show {
                    visibility: visible;
                }
            }
            span {
                @include center();
                transform: scale(1.3);
            }
            .clear, .check {
                position: absolute;
                top: 50%;
                padding: 0 5px;
                display: none;
                &.show {
                    display: block;
                }
            }
            .clear {
                right: 25px;
                
            }
            .check {
                right: 0;
                
            }
        }
    }
}