@import "../../index.scss";

.OriginInfoWrap {
  width: 100%;
  padding: 12px;
  background: #eeeeee;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.4);
  .Head {
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
    h3 {
      font-weight: 600;
      font-size: 1.2rem;
      color: #000;
    }
  }

  ul {
    li {
      list-style: disc;
      list-style-position: inside;
    }
  }
}
