@import "../../index.scss";

button {
  display: block;
  outline: none;
  background-color: white;
  border: 1px solid #e5e5e5;
}

.ReviewTapContainer {
}

.reviewBtn {
}

.TopContainer {
  padding: 10px;
}

.reviewBtn {
  font-size: 1.2rem;
  color: #828282;
  width: 100%;
  height: 40px;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
}

.MiddleContainer {
  padding: 10px;
  border-bottom: 1px solid #dbd9dc;
}

.border {
  border: 5px solid #f4f2f5;
}

.ReviewListContainer {
  height: 200px;
  font-size: 20pt;
  .TitleContainer {
    margin: 10px;
    border-bottom: 1px solid #dbd9dc;
    .title {
      p {
        display: inline;
        color: #2fc0be;
      }
    }
    .title {
      // background-color: blue;
      width: 100%;
      text-align: center;
      font-size: 1.6rem;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .listOrderContainer {
      display: flex;
      justify-content: space-between;
      margin: 10px;
      button {
        border: none;
      }
      .photoReviewBtn {
        display: flex;
        align-items: center;
        // background-color: green;
        color: #828282;
        font-size: 1.4rem;
        .checkBox {
          display: inline-block;
          height: 30px;
          width: 30px;
          border-radius: 2px;
          color: white;
          font-size: 20pt;
          margin-right: 5px;
          background-color: #dbd9dc;
        }
        &.Active {
          font-weight: bold;
          color: black;
          .checkBox {
            background-color: #2fc0be;
          }
        }
      }
      .rightSide {
        display: flex;
        button {
          color: #828282;
          font-size: 1.2rem;
          &.Active {
            font-weight: bold;
            color: black;
          }
        }
        .divider {
          border-right: 1px solid #dbd9dc;
        }
      }
    }
  }
  .listItem {
    padding: 10px;
  }
}
