.high-light {
    width: 100%;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    font-weight: 700;
    background: #fff;
    .title {
        display: inline-block;
        background: linear-gradient( #fff 0%, #fff 70%, rgba(47,192,190, 0.4) 70% , rgba(47,192,190, 0.4) 100% );
    }
}