.payment {
  background: #eee;
  position: relative;
  overflow: hidden;
  .pay {
      cursor: pointer;
    background: #2fc0be;
    color: #fff;
    font-size: 1.7rem;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 100%;
  }
}
@media all and (min-width: 415px) {
  .payment {
    position: relative;
    width: 414px;
    margin: 5rem auto;
    min-height: 736px;
    border: 1px solid #ddd;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px 0px, rgba(0, 0, 0, 0.5) 0px 0px;
    .pay {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
